<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
</head>
<body>
<table class="table">
    <thead class="table-primary">
    <tr>
        <th>Titre</th> <th>Auteur</th> <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.author.firstName}+' '+${book.author.lastName}"></td>
        <td th:text="${book.genre.name}"></td>

    </tr>
    </tbody>
</table>


</body>
</html>
